@use '../Partials/mixins' as *;
@use '../Partials/variables' as *;
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    font-family: "Outfit";
    background-color: hsl(212, 45%, 89%);
}

.qrcard {
    background-color: hsl(0, 0%, 100%);
    margin: 5rem 1rem 3rem 1rem;
    border-radius: 1rem;
    @include desktop {
        margin: 20rem 35rem 15rem 35rem;
    }
}

.qrcode {
    margin: 1rem;
    padding-top: 1rem;
    align-items: center;
    @include desktop {
        margin: 2rem 1rem 1rem 1rem;
    }
    &__img {
        border-radius: 1rem;
        align-items: center;
        width: 100%;
        height: auto;
    }
}

.footer {
    text-align: center;
    &__head {
        font-weight: 700;
        color: hsl(218, 44%, 22%);
        font-size: 1.2rem;
        margin: 1rem;
        padding-right: 2rem;
        padding-left: 2rem;
        @include desktop {
            padding: 0.5rem 1rem 0.5rem 1rem;
        }
    }
    &__bottom {
        font-weight: 400;
        color: hsl(220, 15%, 55%);
        font-size: 1rem;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
        padding-bottom: 2rem;
        text-align: center;
        @include desktop {
            padding: 0 1.5rem 2.5rem 1.5rem;
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}